{% block passport %}
{% load crispy_forms_tags %}
<div class="d-flex flex-row">
    <div class="col">
        <div class="form-row">
            <div class="col-12 col-lg-4 form-group">
                {{ form.passport_type|as_crispy_field }}
            </div>
            <div class="col-12 col-lg-4 form-group">
                {{ form.passport_series|as_crispy_field }}
            </div>
            <div class="col-12 col-lg-4 form-group">
                {{ form.passport_number|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 col-lg-4 form-group">
                {{ form.passport_issue_date|as_crispy_field }}
            </div>
            <div class="col-12 col-lg-4 form-group">
                {{ form.passport_issue_code|as_crispy_field }}
            </div>
            <div class="col-12 col-lg-4 form-group">
                {{ form.passport_issue_country|as_crispy_field }}
            </div>
        </div>
    </div>
    <div class="flex-col-3">
        <div class="form-row">
            <div class="col-12 form-group">
                {{ form.passport_issuing|as_crispy_field }}
            </div>
        </div>
    </div>
</div>
{% endblock passport %}