{% extends "base.html" %}
{% block content %}
{% include 'person_manager/components/message_component.html' %}
<div class="alert alert-primary" role="alert" id="msg" style="display: none"></div>
<form method="post" class="inline-form">
    {% csrf_token %}
    <div class="row">
        <div class="col col-lg-5 d-block mx-auto">
            <div class="row">
                <div class="col header-h2"><h2>Карта №</h2></div>
                <div class="col-4">{{ card_form.card_number }}</div>
                <div class="col">{{ card_form.join_date }}</div>
            </div>
        </div>
    </div>
    <br>
    {% load crispy_forms_tags %}
    {% crispy form %}
    <div class="row">
        <div class="col-12 form-group text-center"><p class="text-muted">Адрес</p></div>
    </div>
    {{ AddressFormSet.management_form }}
    {% for AddressForm in AddressFormSet %}
    {{ AddressForm.id }}
    {% crispy AddressForm %}
    {% endfor %}
    {% if id %}
    <div class="row">
        <div class="col-12 text-center"><p class="text-muted">Документ удостоверяющий личность</p></div>
    </div>
    {{ DULFormSet.management_form }}
    {% for DULForm in DULFormSet %}
    {{ DULForm.id }}
    {% crispy DULForm %}
    {% endfor %}
    {% endif %}
    {% if id %}
    <div class="row">
        <div class="col-12 col-xl-3 text-center"><p class="text-muted">СНИЛС</p></div>
        <div class="col-12 col-xl-9 text-center"><p class="text-muted">ОМС</p></div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-3">{% crispy snils_form %}</div>
        <div class="col-12 col-xl-9">
            {{ PolisFormSet.management_form }}
            {% for PolisForm in PolisFormSet %}
            {% crispy PolisForm %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col">
            <a class="btn float-left btn-icon btn-success mx-2" href="{% url 'persons_list' %}">
                <span class="icon"><i class="fas fa-arrow-circle-left"></i></span>
                Назад
            </a>
            <button class="btn btn-success btn-icon float-right" type="submit">
                <span class="icon"><i class="far fa-save"></i></span>
                Сохранить
            </button>
            {% if id %}
            <a class="btn float-left btn-icon btn-success mx-2" target="_blank" href="{% url 'print_card' id %}">
                <span class="icon"><i class="fas fa-address-card"></i></span>
                Печать Карты
            </a>
            <a class="btn float-left btn-icon btn-success mx-2" target="_blank" href="{% url 'date_select_contract' id %}">
                <span class="icon"><i class="fas fa-print"></i></span>
                Печать Договора
            </a>
            <a class="btn btn-icon float-right btn-danger mx-2" href="{% url 'delete_person' object.id %}">
                <span class="icon"><i class="fas fa-trash"></i></span>
                Удалить Карту
            </a>
            {% endif %}
        </div>
    </div>
</form>
<br>
{% endblock content%}