{% extends "base.html" %}

{% block content %}
<div class="alert alert-primary" role="alert" id="msg" style="display: none"></div>
<form method="post" class="inline-form">
    {% csrf_token %}
    <div class="row">
        <div class="col-5 col-xs-2 d-block mx-auto">
            <div class="row">
                <div class="col header-h2">
                        <h2>Карта №</h2>
                </div>
                <div class="col-4">
                    {{ card.card_number }}
                </div>
                <div class="col">
                    {{ card.join_date }}
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <input type="text" id="pk" style="display: none" value="{{ id }}">
            {% include 'person_manager/components/person_component.html' %}
            <hr class="my-0">
            {% include 'person_manager/components/address_edit_component.html' %}
            <hr class="my-0">
            {% include 'person_manager/components/document_component.html' with create=True %}
            <hr class="my-0">
            {% include 'person_manager/components/contacts_component.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn float-left btn-icon btn-success mx-2" href="{% url 'persons_list' %}">
                <span class="icon"><i class="fas fa-arrow-circle-left"></i></span>
                Назад
            </a>
            <button class="btn btn-success btn-icon float-right" type="submit">
                <span class="icon"><i class="far fa-save"></i></span>
                Сохранить
            </button>
            {% if id %}
            <a class="btn float-left btn-icon btn-success mx-2" target="_blank" href="{% url 'print_card' id %}">
                <span class="icon"><i class="fas fa-address-card"></i></span>
                Печать Карты
            </a>
            <a class="btn float-left btn-icon btn-success mx-2" target="_blank" href="{% url 'date_select_contract' id %}">
                <span class="icon"><i class="fas fa-print"></i></span>
                Печать Договора
            </a>
            <a class="btn btn-icon float-right btn-danger mx-2" href="{% url 'delete_person' object.id %}">
                <span class="icon"><i class="fas fa-trash"></i></span>
                Удалить Карту
            </a>
            {% endif %}
        </div>
    </div>
</form>
<br>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body"></div>
            <div class="modal-footer" id="submitBlock">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock content%}