{% extends "base.html" %}
{% block content %}
{% include 'person_manager/components/message_component.html' %}
<div class="alert alert-primary" role="alert" id="msg" style="display: none"></div>
<form method="post" class="inline-form">
    {% csrf_token %}
    <div class="row">
        <div class="col col-lg-5 d-block mx-auto">
            <div class="row">
                <div class="col header-h2"><h2>Карта №</h2></div>
                <div class="col-4">{{ card.card_number }}</div>
                <div class="col">{{ card.join_date }}</div>
            </div>
        </div>
    </div>
    <br>
    {% load crispy_forms_tags %}
    {% crispy form %}
    {% crispy address %}
    {% if id %}
    {% crispy dul_form %}
    {% endif %}
    <div class="row">
        <div class="col">
            <a class="btn float-left btn-icon btn-success mx-2" href="{% url 'persons_list' %}">
                <span class="icon"><i class="fas fa-arrow-circle-left"></i></span>
                Назад
            </a>
            <button class="btn btn-success btn-icon float-right" type="submit">
                <span class="icon"><i class="far fa-save"></i></span>
                Сохранить
            </button>
            {% if id %}
            <a class="btn float-left btn-icon btn-success mx-2" target="_blank" href="{% url 'print_card' id %}">
                <span class="icon"><i class="fas fa-address-card"></i></span>
                Печать Карты
            </a>
            <a class="btn float-left btn-icon btn-success mx-2" target="_blank" href="{% url 'date_select_contract' id %}">
                <span class="icon"><i class="fas fa-print"></i></span>
                Печать Договора
            </a>
            <a class="btn btn-icon float-right btn-danger mx-2" href="{% url 'delete_person' object.id %}">
                <span class="icon"><i class="fas fa-trash"></i></span>
                Удалить Карту
            </a>
            {% endif %}
        </div>
    </div>
</form>
<br>
{% endblock content%}