{% extends 'base.html' %}

{% block content %}
<div class="content flex-grow-1">
    <div class="d-flex flex-row justify-content-between">
        <div class="col">
        </div>
        <div class="col"></div>
        <div class="col-4">
            {% include 'person_manager/components/search_component.html' %}
        </div>
    </div>
    <br>
    <div class="d-flex flex-row justify-content-start">
        <div class="flex-column">
            <ul class="list-rectangle">
                {% for p in object_list %}
                <li onclick="LoadEvent(this, '{% url 'person_content' p.id %}')">
                    <p>Карта номер: {{p.card__card_number}}</p>
                    <p>{{p.last_name}} {{ p.first_name }} {{p.patronymic_name}}</p>
                    <p>Дата регистрации: {{ p.card__join_date | date:"SHORT_DATE_FORMAT" }}</p>
                </li>
                {% endfor %}
                {% if object_list %}
                <li class="text-center">
                    <a href="{% url 'create_person' %}">
                        <span class="icon"><i class="fas fa-plus"></i></span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div id="person-content" class="flex-column person-content w-75">
            <div class="card start-page">
                <div class="card-body ">
                    <div class="d-flex flex-column align-self-center">
                        <div class="text-center">
                            <h5 class="text-muted">
                                Нажмите "Добавить" для добавления карты.
                            </h5>
                        </div>
                        <br>
                        <div class="text-center">
                            <a class="btn btn-icon btn-success"
                               href="{% url 'create_person' %}">
                                <span class="icon"><i class="far fa-plus-square"></i></span>
                                Добавить
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer flex-grow-0">
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" aria-label="Previous" href="?page={{ page_obj.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" aria-label="Previous" href="">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ i }}">{{ i }}<span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}
