{% extends 'base.html' %}

{% block title %}
Event Details
{% endblock %}

{% block content %}
    <div class="container">
        <div class="clearfix">
            <a class="btn btn-success left" href="{% url 'calendar' %}"> Календарь </a>
            <a class="btn btn-success right mr-2" href="{% url 'event_edit' event.pk %}"> Редактировать </a>
        </div>
        
        <div class="clearfix">
            <h3>Наименование: {{ event.title }}</h3>
            <p>Начать <span style="color: gray;">{{ event.start_time }}</span> Закончить <span style="color: gray;">{{ event.end_time }}</span></p>
            <hr>
            <p>{{ event.description }}</p>
        </div>
        <hr>
        <div class="clearfix">
            <h4 class="left" > Участники</h4>
            <a class="btn btn-success right" href="{% url 'add_eventmember' event.id %}"> Добавить </a>
        </div>
        <table class="table table-bordered">
            <thead>                  
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Имя</th>
                  <th>Логин</th>
                  <th>Email</th>
                  <th>Действие</th>
                </tr>
              </thead>
              <tbody>
                {% for member in eventmember %}
                <tr role="row">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ member.user.first_name }} {{ member.user.last_name }}</td>
                    <td>{{ member.user.username }}</td>
                    <td>{{ member.user.email }}</td>
                    <td>
                        <a class="btn btn-danger" href="{% url 'remove_event' member.id %}">Удалить</a>
                    </td>
                </tr>
                {% endfor %}
              </tbody>
        </table>
    </div>
{% endblock %}